$light: #fff;
$primary-color: #5e2ced;
$secondary-color: #796eff;
$black: #222;
$black-light: #3f4451;
$black-lighter: #888;
$border-color:#eee;
$primary-font: 'Montserrat', sans-serif;
$secondary-font:'Muli', sans-serif;
$gray : #f7fdfc;
