.slide-1{
	background: url("../images/slider/slider1.jpg") 50% 50% no-repeat;
	background-size: cover;
}
.slide-2{
	background: url("../images/slider/slider2.jpg")50% 50% no-repeat;
	background-size: cover;
}
.slide-3{
	background: url("../images/slider/slider3.jpg")50% 50% no-repeat;
	background-size: cover;
}

