<section class="banner-main">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-8">
                <div class="main-banner text-center">
                    <span class="h4">I am John Smith</span>
                    <h1>
                       A freelance photographer with creativity, concept & passion</h1>

                    <a href="#" class="btn btn-main">See my portfolio</a>  

                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

