<section class="section counter  bg-grey">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="counter-item">
					<i class="ti-camera"></i>
					<h2 class="count mt-4 mb-0">7518</h2>
					<p>Shots Taken</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="counter-item">
					<i class="ti-thumb-up"></i>
					<h2 class="count mt-4 mb-0">2518</h2>
					<p>Cups of Coffee</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="counter-item">
					<i class="ti-face-smile"></i>
					<h2 class="count mt-4 mb-0">1298</h2>
					<p>Clients</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="counter-item">
					<i class="ti-heart"></i>
					<h2 class="count mt-4 mb-0">580</h2>
					<p>Albums</p>
				</div>
			</div>
		</div>
	</div>
</section>