<section class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget footer-widget">
					<div class="footer-logo mb-4">
						<img src="images/logo-light.png" alt="" class="img-fluid">
					</div>
					<p>@ Photon 2019 </p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="widget footer-widget">
					<h5>Creative Photo Studio</h5>
					<p>Temporibus repellendus reprehenderit quasi porro quae eos voluptas magni culpa voluptatum rem explicabo.</p>
				</div>
				 <ul class="list-inline footer-socials">
                    <li class="list-inline-item"><a href="#"> <i class="ti-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"> <i class="ti-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"> <i class="ti-pinterest"></i></a></li>
                </ul>
			</div>

			<div class="col-lg-4">
				<div class="widget footer-widget">
					<h5>Information</h5>
					<p>Moon Street Light Avenue, 14/05 Jupiter, JP 80630</p>
					<p>E : info@yourdomain.com <br> P : (68) 345 5902</p>
				</div>
			</div>
		</div>
	</div>
</section>