<section class="slider-full">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-12 ">
				<div class="slider-full-wrapper">
					<div class="slider-img-wrapper">
						<div class="img zoomout zoomin" style="background: url('../images/slider/slider-1.jpg')"></div>
						<div class="caption">
							<h2>Mike & Mikel</h2>
						</div>
					</div>
					<div class="slider-img-wrapper">
						<div class="img zoomout zoomin" style="background: url('../images/slider/slider-2.jpg')"></div>
						<div class="caption">
							<h2>Mike & Mikel2</h2>
						</div>
					</div>
					<div class="slider-img-wrapper">
						<div class="img zoomout zoomin" style="background: url('../images/slider/slider-1.jpg')"></div>
						<div class="caption">
							<h2>Mike & Mikel3</h2>
						</div>
					</div>
					<div class="slider-img-wrapper">
						<div class="img zoomout zoomin" style="background: url('../images/slider/slider-2.jpg')"></div>
						<div class="caption">
							<h2>Mike & Mikel4</h2>
						</div>
					</div>
					<div class="slider-img-wrapper">
						<div class="img zoomout zoomin"style="background: url('../images/slider/slider-1.jpg')"></div>
						<div class="caption">
							<h2>Mike & Mikel5</h2>
						</div>
					</div>
					<div class="slider-img-wrapper">
						<div class="img zoomout zoomin" style="background: url('../images/slider/slider-2.jpg')"></div>
						<div class="caption">
							<h2>Mike & Mikel6</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>