    
<div class="justified-gallery popup-gallery" id="justified-gallery">
	<a href="images/projects/ar2-full.jpg">
        <img src="images/projects/ar2-full.jpg" alt="" class="img-fluid">
    </a>
    <a href="images/projects/ar3-full.jpg">
        <img src="images/projects/j7-full.jpg" alt="" class="img-fluid">
    </a>
    <a href="images/projects/ar4-full.jpg">
        <img src="images/projects/ar4-full.jpg" alt="" class="img-fluid">
    </a>
    <a href="images/projects/ar5-full.jpg">
        <img src="images/projects/ar5-full.jpg" alt="" class="img-fluid">
    </a>
    <a href="images/projects/j20-full.jpg" >
        <img src="images/projects/j20-full.jpg" alt="" class="img-fluid">
    </a>
  	<a href="images/projects/ar8-full.jpg">
        <img src="images/projects/ar8-full.jpg" alt="" class="img-fluid">
    </a>
      <a href="images/projects/ar16-full.jpg" >
        <img src="images/projects/ar16-full.jpg" alt="" class="img-fluid">
    </a>
  	<a href="images/projects/ar10-full.jpg">
        <img src="images/projects/ar10-full.jpg" alt="" class="img-fluid">
    </a>
    <a href="images/projects/ar11-full.jpg">
        <img src="images/projects/ar11-full.jpg" alt="" class="img-fluid">
    </a>
      <a href="images/projects/ar12-full.jpg" >
        <img src="images/projects/ar12-full.jpg" alt="" class="img-fluid">
    </a>
  	<a href="images/projects/ar13-full.jpg">
        <img src="images/projects/ar13-full.jpg" alt="" class="img-fluid">
    </a>
	<a href="images/projects/ar14-full.jpg">
        <img src="images/projects/ar14-full.jpg" alt="" class="img-fluid">
    </a>
      <a href="images/projects/ar15-full.jpg" >
        <img src="images/projects/ar15-full.jpg" alt="" class="img-fluid">
    </a>
    <a href="images/projects/p-5.jpg">
        <img src="images/projects/p-5.jpg" alt="" class="img-fluid">
    </a>
      <a href="images/projects/p-4.jpg" >
        <img src="images/projects/p-4.jpg" alt="" class="img-fluid">
    </a>
</div>
    	
