    <!-- NAVBAR
    ================================================= -->
    <div class="main-navigation position-absolute w-100" id="mainmenu-area">
        <div class="container">
            <nav class="navbar navbar-expand-lg ">

                <a class="navbar-brand" href="">
                    <h2>Photon.</h2>
                </a>
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu-alt"></span>
                </button>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Links -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarWelcome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarWelcome">
                                 <a class="dropdown-item " href="index.html">
                                    Home-1
                                </a>
                                <a class="dropdown-item " href="index-2.html">
                                    Home-2
                                </a> 
                                <a class="dropdown-item " href="index-3.html">
                                    Home-3
                                </a>
                                <a class="dropdown-item " href="index-4.html">
                                    Home-4
                                </a>
                            </div>
                        </li>
                      
                         <li class="nav-item ">
                            <a href="about.html" class="nav-link js-scroll-trigger">
                                About
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a href="service.html" class="nav-link js-scroll-trigger">
                                Services
                            </a>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbargallery" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gallery
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbargallery">
                                <a class="dropdown-item " href="gallery-1.html">
                                    Gallery Grid
                                </a>
                                <a class="dropdown-item " href="gallery-2.html">
                                    Gallery Masonary
                                </a> 
                                <a class="dropdown-item " href="gallery-3.html">
                                    Gallery Filter
                                </a> 
                                <a class="dropdown-item " href="gallery-4.html">
                                    Gallery Justified
                                </a>
                            </div>
                        </li>

                        <li class="nav-item ">
                            <a href="contact.html" class="nav-link">
                                Contact
                            </a>
                        </li>
                    </ul>

                     <ul class="list-inline header-socials float-lg-right">
                        <li class="list-inline-item"><a href="#"> <i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"> <i class="ti-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"> <i class="ti-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#"> <i class="ti-linkedin"></i></a></li>
                    </ul>
                </div> <!-- / .navbar-collapse -->
            </nav>
        </div> <!-- / .container -->
    </div>
