<section class="section portfolio-3">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center  mb-5">
		        <div class="btn-group btn-group-toggle " data-toggle="buttons">
		          <label class="btn active ">
		            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
		          </label>
		          <label class="btn ">
		            <input type="radio" name="shuffle-filter" value="design" />UI/UX Design
		          </label>
		          <label class="btn">
		            <input type="radio" name="shuffle-filter" value="branding" />BRANDING
		          </label>
		          <label class="btn">
		            <input type="radio" name="shuffle-filter" value="illustration" />ILLUSTRATION
		          </label>
		        </div>
	      </div>
	    </div>

		    <div class="row shuffle-wrapper portfolio">
		      	<div class="col-lg-6 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
			      	<div class="gallery-item">
			      		<img src="images/projects/p-1.jpg" alt="" class="img-fluid">
			      		<div class="overlay-inner">
		                    <a href="images/projects/p-1.jpg" class="popup">
		                        <i class="ti-plus"></i>
		                    </a>
				      	</div>
			      	</div>
		      	</div>

		      	<div class="col-lg-6 col-6 mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
		      		<div class="gallery-item">
			      		<img src="images/projects/p-2.jpg" alt="" class="img-fluid">
			      		<div class="overlay-inner">
		                    <a href="images/projects/p-2.jpg" class="popup">
		                        <i class="ti-plus"></i>
		                    </a>
				      	</div>
			      	</div>
		      	</div>

		      	<div class="col-lg-6 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
		      		<div class="gallery-item">
			      		<img src="images/projects/p-3.jpg" alt="" class="img-fluid">
			      		<div class="overlay-inner">
		                    <a href="images/projects/p-3.jpg" class="popup">
		                        <i class="ti-plus"></i>
		                    </a>
				      	</div>
			      	</div>
		      	</div>

		      	<div class="col-lg-6 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;branding&quot;]">
			      	<div class="gallery-item">
			      		<img src="images/projects/p-4.jpg" alt="" class="img-fluid">
			      		<div class="overlay-inner">
		                    <a href="images/projects/p-4.jpg" class="popup">
		                        <i class="ti-plus"></i>
		                    </a>
				      	</div>
			      	</div>
		      	</div>

		      	<div class="col-lg-6 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
			      	<div class="gallery-item">
			      		<img src="images/projects/p-5.jpg" alt="" class="img-fluid">
			      		<div class="overlay-inner">
		                    <a href="images/projects/p-5.jpg" class="popup">
		                        <i class="ti-plus"></i>
		                    </a>
				      	</div>
			      	</div>
      			</div>

		      	<div class="col-lg-6 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;]">
			      	<div class="gallery-item">
			      		<img src="images/projects/p-6.jpg" alt="" class="img-fluid">
			      		<div class="overlay-inner">
		                    <a href="images/projects/p-6.jpg" class="popup">
		                        <i class="ti-plus"></i>
		                    </a>
				      	</div>
			      	</div>
		      	</div>

		      	<div class="col-lg-6 col-6 mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
		      		<div class="gallery-item">
			      		<img src="images/projects/p-7.jpg" alt="" class="img-fluid">
			      		<div class="overlay-inner">
		                    <a href="images/projects/p-7.jpg" class="popup">
		                        <i class="ti-plus"></i>
		                    </a>
				      	</div>
			      	</div>
		      	</div>

		      	<div class="col-lg-6 col-6 mb-4 shuffle-item" data-groups="[&quot;design&quot;,&quot;illustration&quot;,&quot;branding&quot;]">
			      	<div class="gallery-item">
			      		<img src="images/projects/p-8.jpg" alt="" class="img-fluid">
			      		<div class="overlay-inner">
		                    <a href="images/projects/p-8.jpg" class="popup">
		                        <i class="ti-plus"></i>
		                    </a>
				      	</div>
			      	</div>
		      	</div>
		</div>
	</div>
</section>