<section class="section portfolio">
    <div class="container">
        <div class="row no-gutters portfolio">
            <div class="col-lg-4">
                <div class="portfolio-wrapper">
                    <a href="images/projects/ar1-full.jpg" class="popup">
                        <img src="images/projects/ar1-full.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="portfolio-wrapper">
                    <a href="images/projects/ar2-full.jpg" class="popup">
                        <img src="images/projects/ar2-full.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="portfolio-wrapper">
                    <a href="images/projects/ar3-full.jpg" class="popup">
                        <img src="images/projects/ar3-full.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            
           
            <div class="col-lg-4">
                <div class="portfolio-wrapper">
                    <a href="images/projects/ar4-full.jpg" class="popup">
                        <img src="images/projects/ar4-full.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="portfolio-wrapper">
                    <a href="images/projects/ar5-full.jpg" class="popup">
                        <img src="images/projects/ar5-full.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                 <div class="portfolio-wrapper">
                    <a href="images/projects/ar6-full.jpg" class="popup">
                        <img src="images/projects/ar6-full.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="portfolio-wrapper">
                    <a href="images/projects/ar7-full.jpg" class="popup">
                        <img src="images/projects/ar7-full.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="portfolio-wrapper">
                    <a href="images/projects/ar8-full.jpg" class="popup">
                        <img src="images/projects/ar8-full.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="portfolio-wrapper">
                    <a href="images/projects/ar10-full.jpg" class="popup">
                        <img src="images/projects/ar10-full.jpg" alt="" class="img-fluid">
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>