<section class="section service">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="heading text-center mb-5">
					<h2 class="mb-4">Services.</h2>
					<p class="lead">We are a photography studio specializing in wedding, jewelry, birthday and fashion photography,
based in New York. We love to turn ideas into beautiful things.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="service-item d-flex">
					<div class="service-icon">
						<i class="ti-camera"></i>
					</div>
					<div class="service-content">
						<h4 class="mb-3">Event photography</h4>
						<p> Laboriosam, reprehenderit quidem molestias cumque expedita.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="service-item d-flex">
					<div class="service-icon">
						<i class="ti-heart"></i>
					</div>
					<div class="service-content">
						<h4 class="mb-3">Wedding photography</h4>
						<p> Laboriosam, reprehenderit quidem molestias cumque expedita.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="service-item d-flex">
					<div class="service-icon">
						<i class="ti-image"></i>
					</div>
					<div class="service-content">
						<h4 class="mb-3">Potrait photography</h4>
						<p> Laboriosam, reprehenderit quidem molestias cumque expedita.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="service-item d-flex">
					<div class="service-icon">
						<i class="ti-layers"></i>
					</div>
					<div class="service-content">
						<h4 class="mb-3">Fashion photography</h4>
						<p> Laboriosam, reprehenderit quidem molestias cumque expedita.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="service-item d-flex">
					<div class="service-icon">
						<i class="ti-package"></i>
					</div>
					<div class="service-content">
						<h4 class="mb-3">Product photography</h4>
						<p> Laboriosam, reprehenderit quidem molestias cumque expedita.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="service-item d-flex">
					<div class="service-icon">
						<i class="ti-video-camera"></i>
					</div>
					<div class="service-content">
						<h4 class="mb-3">Videography</h4>
						<p> Laboriosam, reprehenderit quidem molestias cumque expedita.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>